---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="max-w-[800px] mt-10 p-6 self-center text-white font-raiders bg-[#000000b3]">
        <p class="my-3">
            Mödlinger Frisbee Sport Verein <br/>
            Josefsgasse 17
            <br/>
            2340 Mödling
            <br/>
            ZVR-Zahl: 664355276
            <br/>
            Email:
            <a href="mailto:info@winonaraiders.org" class="underline text-cyan-500 hover:text-cyan-700 visited:text-purple-600">
                info@winonaraiders.org
            </a>
            <br/>
            <br/>
            Kontodaten:
            <br/>
            Mödlinger Frisbee Sport Verein
            <br/>
            AT47 3225 0000 0403 5127
        </p>
    </div>
</Layout>
