---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="max-w-[800px] mt-10 p-0 md:p-6 self-center text-white font-raiders bg-[#000000b3]">
        <h6 class="mt-3 mb-6 text-2xl font-bold text-center">
            Trainingsplätze
        </h6>
        <p class="mb-6 px-3 text-xs md:text-sm text-center">
            Je nach Jahreszeit, Witterung und Verfügbarkeit trainieren wir auf folgenden Plätzen
        </p>
        <table>
            <thead>
            <tr class="border-b text-sm md:text-base text-center">
                <th class="p-3 md:p-7">Was</th>
                <th class="p-3 md:p-7">Wo</th>
                <th class="p-3 md:p-7">Google Maps</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b text-sm md:text-base text-center">
                <td class="p-3 md:p-7">
                    <div class="flex flex-col font-semibold">
                        Hallentraining
                    </div>
                </td>
                <td class="p-3 py-5 md:p-7">
                    <div class="flex flex-col">
                        <div>Sportgymnasium</div>
                        <div>Gießhüblerstraße 37-39</div>
                        <div>2344 Maria Enzersdorf</div>
                    </div>
                </td>
                <td class="p-3 md:p-7">
                    <div class="flex flex-col items-center justify-center">
                        <a class="h-10 w-10" href="https://maps.app.goo.gl/yo5KX5vPjPitxveD7">
                            <img class="h-10 w-10" src="/Google_Maps_icon.svg" alt="Google Maps Link Sportgymnasium Maria Enzersdorf"/>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="p-3 md:p-7">
                    <div class="flex flex-col text-sm md:text-base text-center font-semibold">
                        Outdoortraining
                    </div>
                </td>
                <td class="p-3 py-5 md:p-7">
                    <div class="flex flex-col text-sm md:text-base text-center gap-4">
                        <div class="flex flex-col">
                            <div>ASK Eichkogel</div>
                            <div>Doktor Karl Renner Straße 11b</div>
                            <div>2353 Guntramsdorf</div>
                        </div>
                        <div class="flex flex-col py-2 md:py-4 border-y">
                            <div>ÖTB</div>
                            <div>Dr. Karl Giannoni Gasse 18</div>
                            <div>2340 Mödling</div>
                        </div>
                        <div class="flex flex-col">
                            <div>SEV Isovolta</div>
                            <div>Isovoltastraße 45</div>
                            <div>2355 Wr. Neudorf</div>
                        </div>
                    </div>
                </td>
                <td class="p-3 pt-5 md:p-7">
                    <div class="flex flex-col items-center justify-center gap-6 md:gap-8">
                        <a class="h-10 w-10" href="https://maps.app.goo.gl/fHsLNZakwGxQQQNXA">
                            <img class="h-10 w-10" src="/Google_Maps_icon.svg" alt="Google Maps Link ASK Eichkogel"/>
                        </a>
                        <br/>
                        <a class="h-10 w-10" href="https://maps.app.goo.gl/jG2TJLSkMzMmeJ1EA">
                            <img class="h-10 w-10" src="/Google_Maps_icon.svg" alt="Google Maps Link ÖTB"/>
                        </a>
                        <br/>
                        <a class="h-10 w-10" href="https://maps.app.goo.gl/5YXVKLuCiSYmGmfz6">
                            <img class="h-10 w-10" src="/Google_Maps_icon.svg" alt="Google Maps Link SEV Isovolta"/>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</Layout>
