---
import "../styles/global.css";
import Footer  from '../components/Footer.astro';

const currentPath = Astro.url.pathname.replace(/\/$/, "") || "/";

const navLinks = [
    { label: 'Home', href: "/" },
    { label: 'Training', href: "/training" },
    { label: 'Juniors', href: "/juniors" },
    { label: 'Impressum', href: "/impressum" }
];
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Website of the Ultimate Frisbee Team Winona Raiders" />
        <link rel="icon" href="/favicon.ico" />
        <title>Winona Raiders - Ultimate Frisbee</title>
    </head>
    <body class="flex flex-col min-h-screen">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="bg-[#333333] text-white">
        <div class="flex flex-col md:flex-row justify-center items-center">

            <h1 class="ml-6 mt-1 mb-3 text-center uppercase text-3xl font-raiders font-medium">Ultimate Frisbee Mödling</h1>

            <div class="flex ml-6 mt-1 mb-3 items-center">
                <a class="h-10 w-10 mx-2" href="https://www.instagram.com/winona_raiders/">
                    <img width={40} height={40} loading="eager" src="/instagram_logo.png" alt="instagram link"/>
                </a>
            </div>
        </div>

        <nav class="flex w-full items-center justify-around text-center uppercase text-[0.9rem] font-raiders">
            {navLinks.map(({ label, href }) => (
                <a href={href} class={`px-1 md:px-3 py-3 hover:text-white ${currentPath === href ? 'underline underline-offset-5 text-white' : 'text-gray-400'}`}>
                    { label }
                </a>
            ))}
        </nav>
    </div>
        <main class="flex flex-col grow">
            <div class="flex grow flex-auto bg-[url(/Home_bg.webp)] bg-cover">
                <div class="flex flex-col w-full px-6 pb-14 bg-[#cfe8fc80]">
                    <slot />
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>